<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>


<div class="wrapper fadeInDown">
    {% if error %}
    <div class="alert alert-danger">
        <strong>Ошибка!</strong> {{ error }}.
    </div>
    {% endif %}
      <div id="formContent" class="p-5">
        <!-- Login Form -->
        <form method="post" action="/login">
          <input required type="text" id="login" value="{{ login }}" class="fadeIn second" name="login" placeholder="Логни">
          <input required type="password" id="password" value="{{ password }}" class="fadeIn third" name="password" placeholder="Пароль">
          <input type="submit" class="fadeIn fourth" value="Вход">
        </form>

      </div>
</div>


</body>
</html>