{% extends 'base/base.html' %}

{% block content %}

    <h2 class="content-title text-center">О нас</h2>

    <div class="container">
        <div class="row">
            <p class="text-justify mt-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem dolorum eligendi et eveniet pariatur possimus!
                A architecto aspernatur distinctio esse fugiat quaerat sequi. Adipisci dignissimos dolorem inventore magnam omnis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti eveniet laboriosam!
                Cumque dolores earum eos nisi quam reiciendis sapiente, voluptas! Assumenda consequatur, voluptatibus.
                Aliquid debitis exercitationem non optio rem! </p>
        </div>
        <div class="row justify-content-between">
            <h5><b>Адресс: г. Одесса ул.Комитетская 24б</b></h5>
            <h5><b>Телефон: +380662223344</b></h5>
        </div>
        <div class>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.9906808152928!2d30.711773315429976!3d46.468692573876424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c632271e4b7ab7%3A0xe1de57176e9a20e6!2z0JrQvtC80LjRgtC10YLRgdC60LDRjyDRg9C7LiwgMjQsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1558949645900!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}