{% extends 'base/base.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item"><a href="/gallery">Галерея</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ album.name }}</li>
                </ol>
            </nav>
        </div>


        <div class="row justify-content-center">
            {% for img in images %}
                <div style="display: flex; align-items: center; overflow:hidden; width: 13rem; height: 10rem;"
                     class="m-1">
                    <a data-fancybox="gallery" href="{{ img }}"><img class="" style="width: 13rem;"
                                                                     src="{{ img }}"></a>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}