{% extends 'base/base.html' %}

{% block content %}
    <h2 class="content-title text-center">Танцы</h2>

    <div class="teacher-block">
        <div class="container">
            {% for teacher in direction.teachers %}
                <div class="row direct-teacher my-3">
                    <div class="teacher-img col-12 col-lg-3">
                        <img src="{{ teacher.photo }}" class="w-100" alt="">
                    </div>
                    <div class="teacher-body col-12 col-lg-9">
                        <div class="teacher-name">{{ teacher.fio }}</div>
                        <div class="teacher-description mt-3">{{ teacher.position }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="direct-description">
        <div class="container">
            <p>{{ direction.description }}</p>
        </div>

    </div>


    <div class="direct-carousel">
        <div class="container">
            <div class="mu">
                {% for img in images_list %}
                    <div class="d-flex justify-content-center align-items-center"><img src="{{ img }}"
                                                                                       class="w-85 align-self-center"
                                                                                       alt=""></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

