{% extends 'base/base.html' %}

{% block content %}
    <div class="main-news">
        <h2 class="h2 text-center main-news-title my-4">Новости</h2>
        <div class="container">
            {% for news in news_list %}
                <div class="row news my-3">
                    <div class="col-12 col-lg-3 my-1 my-lg-0 news-img"><a href="/news/{{ news.id }}"><img
                            src="{{ news.img }}"
                            alt=""></a>
                    </div>
                    <div class="col-12 col-lg-8">
                        <a href="/news/{{ news.id }}">
                            <div class="news-title my-3 mt-lg-0 mb-lg-3">{{ news.title }}</div>
                            <div class="news-description">
                                {{ news.text| truncate(50) | safe }}
                            </div>
                        </a>
                        <div class="row justify-content-between align-items-end mt-3">
                            <span>{{ news.author.fio }}</span>
                            <span>{{ news.date }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not news_list %}
                <div class="row alert justify-content-center alert-warning my-5">
                    <h5 class="text-center h5-responsive ">В данный момент новости отсутствуют!</h5>
                </div>
            {% else %}
                <div class="row justify-content-center my-5">
                    <a href="/news" class="btn my-btn">Показать все</a>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="main-directions" id="main-directions">
        <h2 class="h2 text-center main-directions-title my-4">Наши направления</h2>
        <div class="container">
            <div class="row directions-flow justify-content-around">
                {% for direct in directions %}
                    <a href="/direction/{{ direct.id }}"
                       class="col-12 col-md-6 col-lg-4 my-3 direct align-items-center justify-content-center d-flex">
                        <div class="direct-img"><img src="{{ direct.main_image }}" alt="" class="w-100"></div>
                        <div class="direct-title"><h2>{{ direct.name }}</h2></div>
                    </a>
                {% endfor %}
                {% if not directions %}
                    <div class="row alert alert-warning my-5">
                        <h5 class="text-center h5-responsive ">В данный момент направления отсутствуют!</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="main-free-lesson" id="main-free-lesson">
        <h2 class="h2 text-center main-free-lesson-title my-4">Бесплатное пробное занятие</h2>
        <div class="container">
            <form action="/lesson/feedback" method="post">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="row alert justify-content-center alert-success my-5">
                            {% for message in messages %}
                                <h5 class="text-center h5-responsive ">{{ message }}</h5>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="form-group row justify-content-center align-items-center my-3">
                    <label for="parent_name" class="col-12 col-lg-3 col-form-label text-lg-right">Имя
                        родителя: </label>
                    <div class="col-12 col-lg-5">
                        <input type="text" class="form-control" name="parent_name" id="parent_name" placeholder="">
                    </div>
                </div>
                <div class="form-group row justify-content-center align-items-center my-3">
                    <label for="parent_number" class="col-12 col-lg-3 col-form-label text-lg-right">Номер телефона
                        родителя: </label>
                    <div class="col-12 col-lg-5">
                        <input type="tel" pattern="(\+?\d[- .]*){7,13}" name="parent_number" class="form-control" id="parent_number" value="">
                    </div>
                </div>
                <div class="form-group row justify-content-center align-items-center my-3">
                    <label for="child_name" class="col-12 col-lg-3 col-form-label text-lg-right">Имя
                        ребенка: </label>
                    <div class="col-12 col-lg-5">
                        <input type="text" class="form-control" name="child_name" id="child_name" placeholder="">
                    </div>
                </div>
                <div class="form-group row justify-content-center align-items-center my-3">
                    <label for="id_direction" class="col-12 col-lg-3 col-form-label text-lg-right">Направление: </label>
                    <div class="col-12 col-lg-5">
                        <select id="id_direction" {% if not directions %}disabled{% endif %} name="id_direction"
                                class="form-control">
                            {% for direct in directions %}
                                <option value="{{ direct.id }}">{{ direct.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if free_lesson == 'true' %}
                    <div class="row alert justify-content-center alert-warning my-5">
                        <h5 class="text-center h5-responsive ">Вы уже отправляли заявку недавно!</h5>
                    </div>
                {% else %}
                    <div class="row justify-content-center mt-5">
                        <button {% if free_lesson == 'true' %}disabled{% endif %} class="btn my-btn">Записаться</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <div class="main-gallery">
        <h2 class="h2 text-center main-gallery-title my-3">Галерея</h2>
        <div class="container">
            <div class="row justify-content-center gallery-flow">
                {% for album in albums %}
                    <a href="/album/1"
                       class="col-12 col-md-5 col-lg-3 mx-4 my-2 gallery-item d-flex justify-content-center flex-column">
                        <div class="gallery-item-img"><img src="{{ album.main_image }}" alt="" class="w-100"></div>
                        <div><h3 class="h3 text-center gallery-item-title">{{ album.name }}</h3></div>
                    </a>
                {% endfor %}
            </div>
            <div class="row justify-content-center my-3">
                <a href="/gallery" class="btn my-btn">Показать все</a>
            </div>
        </div>
    </div>

{% endblock %}