{% extends 'base/base.html' %}

{% block content %}
    <h2 class="content-title text-center">Логопед</h2>

    <div class="teacher-block">
        <div class="container">
            <div class="row direct-teacher my-3">
                <div class="teacher-img col-12 col-lg-3">
                    <img src="/static/img/teacher.jpg" class="w-100" alt="">
                </div>
                <div class="teacher-body col-12 col-lg-9">
                    <div class="teacher-name">Иванова Нина Ивановна</div>
                    <div class="teacher-description mt-3">Штатный логопед.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="logoped-services col-12">
                <h4 class="h4">Услуги</h4>
                <ul class="list-group" style="text-align: justify">
                    <li class="list-group-item" aria-disabled="true">
                        <details>
                            <summary>Первичная консультация</summary>
                            <div class="details-content mt-2">
                                <p>На первичной консультации проводится осмотр и выявляется
                                    проблема, которая есть у ребенка или
                                    взрослого человека. Так же определяется необходимость обследования у других
                                    специалистов
                                    (лор, ортодонт, психолог). Для логопеда очень важна первичная консультация, так как
                                    это
                                    дает
                                    ему возможность определить уровень речевого развития. Он обращает внимание на
                                    следующие
                                    факторы:</p>
                                <ul>
                                    <li>Фонетический звук</li>
                                    <li>Звучание речи</li>
                                    <li>Связная речь</li>
                                    <li>Лексико-грамматический состав речи</li>
                                    <li>Темп речи и состояние голоса</li>
                                </ul>
                                <p style="text-align: justify">
                                    Первичная консультация для детей тоже включает в себя полный осмотр и диагностику
                                    речевых
                                    навыков. На первом же приеме логопед определяет проблемы и составляет индивидуальную
                                    программу для их устранения. Наш специалист сообщит сколько занятий будет потрачено
                                    для
                                    достижения каждой поставленной цели. Исходя из этой информации вы можете
                                    рассчитывать на
                                    определенную сумму затрат, понимать сколько по времени это может занять и быть
                                    уверенными в
                                    том, что мы достигнем результата в оговоренные сроки.</p>

                                <p>Специалист помогает справиться с такими речевыми дефектами как: заикание,
                                    неправильное
                                    произношение звуков, недоразвитие или утрата речи, расстройство речи из-за нарушения
                                    слуха и
                                    т.д.</p>

                                <p>С детьми занятия проводятся в игровой форме. Это делается для того, чтоб дети могли
                                    уловить
                                    суть занятий и усвоить необходимую информацию. Проводятся необходимые упражнения и
                                    массажи
                                    для устранения поставленной проблемы. Логопед дает рекомендации и для родителей,
                                    чтоб
                                    понимать как правильно общаться с ребенком и какие упражнения необходимо делать, для
                                    того
                                    чтоб закреплять полученные навыки после занятий.</p>
                            </div>
                        </details>
                    </li>
                    <li class="list-group-item" aria-disabled="true">
                        <details>
                            <summary>Постановка звуков</summary>
                            <div class="details-content mt-2">
                                <p>
                                    Многие дети ошибочно произносят трудные для них звуки. Они могут пропускать эти
                                    звуки
                                    или
                                    заменять их на другие. В норме речевого развития к пяти годам дети правильно
                                    произносят
                                    все
                                    звуки родного языка. Но если вы понимаете, что ваш ребенок в 4года не произносит
                                    практически
                                    все группы звуков, стоит уже задуматься об консультации у специалиста.
                                </p>
                                <p> При постановке звукопроизношения, если у ребенка нарушены несколько групп звуков,
                                    сначала
                                    исправляют базовый звук для определенной группы. В группе свистящих сначала
                                    исправляют
                                    звук
                                    с. Затем, отталкиваясь от него, ставят звук з, после этого переходят к мягким звукам
                                    сь
                                    и
                                    зь; последним в группе свистящих ставят звук ц. В группе шипящих прежде всего
                                    исправляют
                                    звук ш. Затем на основе его артикуляции ставят звуки ж, ч, щ. В группе заднеязычных
                                    звуков
                                    (к, кь, г, гь, х, хь) основным является артикуляция звука к.</p>

                                <p>Коррекционную работу начинают с тех групп, которые должны появляться у ребенка раньше
                                    по
                                    возрастным нормам.</p>

                                <p>Исправление звуков проводится поэтапно:</p>
                                <ul>
                                    <li>подготовительный</li>
                                    <li>постановка звука</li>
                                    <li>автоматизация звука</li>
                                    <li>этап дифференциации</li>
                                    <li>введение в речь</li>
                                </ul>
                                <p>
                                    Каждый этап имеет свои задачи, содержание работы. На всех этапах мы рекомендуем
                                    развивать
                                    мелкую моторику рук, внимание, память, мышление, фонематический слух, корректировать
                                    грамматическую сторону речи, а также включить упражнения на профилактику нарушения
                                    зрения,
                                    дисграфии, развития речевых центров головного мозга, т.е. то, что подготовит ребенка
                                    к
                                    школе
                                    и поможет в дальнейшем ему хорошо учиться.</p>

                                <p>Основой нашей работы является сквозная игра через все занятие, поскольку интерес и
                                    собственное желание ребенка произнести правильные звуки – это путь к успеху.
                                    Индивидуальная
                                    работа проводится на этапе постановке звука, затем ребенок, который уже хорошо
                                    произносит
                                    отдельно слова с поставленной группой звуков переходит на групповые занятия по
                                    логоритмике.
                                    Где занятия проводятся под живую музыку с яркими перевоплощениями и соревновательным
                                    характером.</p>

                                <p>Занятия с ребенком должны проводиться систематически, не менее трех раз в неделю,
                                    подкрепляя
                                    ежедневными 2–3-разовыми кратковременными упражнениями. Если занятия будут проходить
                                    реже,
                                    их эффективность резко снизится. Ребенок быстро утрачивает приобретенный навык, т.к.
                                    в
                                    свободной речи, когда самоконтроль ослабевает, малыш будет возвращаться к
                                    неправильно
                                    сформированному стереотипу.</p>

                                <p>Сроки постановки правильного произношения зависят от ряда факторов: степени сложности
                                    недостатка, индивидуальных и возрастных особенностей ребенка, регулярности занятий.
                                    Постановка звука может занять 1–2 занятия, а автоматизация 3-4; или 5–7 занятий
                                    может
                                    потребоваться только для того, чтобы подготовить артикуляционный аппарат для
                                    постановки
                                    звука. И тот и другой варианты отвечают нормам.</p>
                            </div>
                        </details>
                    </li>
                    <li class="list-group-item" aria-disabled="true">
                        <details>
                            <summary>"Запуск речи"</summary>
                            <div class="details-content mt-2">
                                <p>
                                    Очень часто, в наше время, молодые родители сталкиваются с тем, что ребенок не
                                    желает
                                    говорить. Проявление ли это характера, упрямства, или же проблема лежит немного
                                    глубже –
                                    с
                                    этими вопросами родителям помогут справится наши специалисты.
                                    Для таких деток - «молчунов», в нашем центре существуют индивидуальная и групповые
                                    программы.</p>

                                <p>Занятия проводятся в непринужденной, игровой форме, под живую музыку. Яркие
                                    перевоплощения, сюжетно-ролевые игры, помогают разговорить маленьких «партизанов».
                                    Творческие поделки – лепка, аппликации, работа с природными материалами – развивают
                                    мелкую моторику, воображение.</p>

                                <p>Игры с музыкальными инструментами под живой аккомпанемент, танцы, шумовой оркестр –
                                    помогают в формировании пространственного и образного мышления. Так же на занятиях
                                    педагоги корректируют звукопроизношение, слоговую структуру слова, грамматику.
                                    Работают
                                    над
                                    дыханием и правильным речевым выдохом. Правильным построением предложений. Развивают
                                    логическое мышление малышей.</p>
                            </div>
                        </details>
                    </li>
                    <li class="list-group-item" aria-disabled="true">
                        <details>
                            <summary>Дислексия, Дисграфия</summary>
                            <div class="details-content mt-2">
                                <p>С началом обучения в школе у некоторых детей вдруг обнаруживаются затруднения с
                                    чтением и
                                    письмом. Ребята оказываются не в ладах с русским и украинским языками, хотя хорошо
                                    справляются с математикой и другими предметами, где, казалось бы, требуется больше
                                    сообразительности.</p>

                                <p>Дисграфия – нарушение процесса письма, проявляющиеся в повторяющихся, стойких
                                    ошибках,
                                    которые обусловлены несформированной высшей психической деятельностью, участвующей в
                                    процессе письма. Данное нарушение является препятствием для овладения учениками
                                    грамоты
                                    и
                                    грамматики языка.</p>

                                <p>Для нее наиболее характерны следующие ошибки:</p>
                                <ul>
                                    <li>зеркальное написание букв</li>
                                    <li>пропуски букв и слогов</li>
                                    <li>перестановка букв и (или) слогов</li>
                                    <li>недописывание слов</li>
                                    <li>написание лишних букв в слове (бывает, когда ребенок, проговаривая при письме,
                                        очень
                                        долго "поет звук"
                                    </li>
                                    <li>повторение букв и (или) слогов</li>
                                    <li>контоминация - в одном слове слоги разных слов</li>
                                    <li>слитное написание предлогов, раздельное написание приставок ("настоле", "на
                                        ступила")
                                    </li>
                                    <li>неправильне обозначение мягкости согласных на письме: "писмо", "лубит", "больит"
                                    </li>
                                    <li>ребенок пишет аграмматично "красивый сумка", "веселые день"</li>
                                </ul>
                                <p>Занятия проводятся по определенной системе: используются различные речевые игры,
                                    разрезная
                                    или магнитная азбука для складывания слов, выделение грамматических элементов слов.
                                    Ребенок
                                    усваивает, как произносятся определенные звуки и какой букве при письме этот звук
                                    соответствует. Обычно логопед прибегает к противопоставлениям, "отрабатывая", чем
                                    отличается
                                    твердое произношение от мягкого, глухое - от звонкого. Тренировка ведется путем
                                    повторения
                                    слов, диктанта, подбора слов по заданным звукам, анализа звукобуквенного состава
                                    слов.
                                    Также
                                    используется наглядный материал, помогающий запомнить начертания букв: "О"
                                    напоминает
                                    обруч,
                                    "Ж" - жука, "С" - полумесяц...
                                </p>
                                <p>
                                    Работа проводится в индивидуальном порядке - занятие 45 минут.
                                    А так же групповые занятия по 90 минут.
                                </p>
                            </div>
                        </details>
                    </li>
                    <li class="list-group-item" aria-disabled="true">
                        <details>
                            <summary>Логопедический и зондовый массаж</summary>
                            <div class="details-content mt-2">
                                <p>Логопедический массаж это одна из логопедических техник, содействующая нормализации
                                    речи
                                    и
                                    эмоционального состояния детей с дефектами речи.

                                    Поверхность кожи очень чувствительна и она имеет тесную связь с центральной нервной
                                    системой, поэтому массаж сильно влияет на её состояние, нормализует его.

                                    Массаж улучшает мозговое кровообращение, способствует нормализации процессов
                                    метаболизма, а
                                    это в свою очередь благотворно влияет на развитие большинства психических процессов
                                    (памяти,
                                    внимания, речевой активности и т.д). Логопедический массаж всесторонне влияет на
                                    организм,
                                    гармонизирует состояние нервной системы, регулирует её деятельность.
                                    Зоны, на которые воздействует специалист, меняются в соответствии с назначением и
                                    задачами
                                    массажа в данном конкретном случае. Приёмы, которые используются в логопедическом
                                    массаже,
                                    позаимствованы из классического и точечного массажа.

                                    Нередко, массаж является необходимым условием эффективности логопедического
                                    воздействия.

                                    Практический опыт коррекционно-педагогической работы с лицами, страдающими речевыми
                                    расстройствами показывает, что применение логопедического массажа позволяет
                                    значительно
                                    сократить время коррекционной работы, особенно над формированием произносительной
                                    стороны
                                    речи.</p>

                                <p>Показания:</p>
                                <ul>
                                    <li>Дефект речи</li>
                                    <li>Дизартрия</li>
                                    <li>Увеличение эффективности от занятий с индивидуальным логопедом</li>
                                    <li>Непроизвольное слюновыделение</li>
                                    <li>Отсутствие жевательного рефлекса</li>
                                    <li>Проблемы с развитием артикуляционных мышц</li>
                                    <li>Заикание и проблема с произношением из-за сильного напряжения мышц</li>
                                </ul>
                                <p>Цель зондового массажа — нормализация речевой моторики и произношения.

                                    В основе метода лежит особый массаж мышц языка, губ, щек, скул, мягкого неба с
                                    помощью
                                    комплекта специальных зондов.

                                    Курс массажа - это количество сеансов, проводимых в течение определенного количества
                                    дней.
                                    Логопедический массаж проводят курсами, оптимально 10 – 12.

                                    Продолжительность сеанса и самого курса массажа зависит от тяжести речевой
                                    патологии:
                                    чем
                                    поверхностное нарушение, тем короче курс массажа и меньше их требуется для наиболее
                                    полной
                                    коррекции. Иногда возникает необходимость проводить логопедический массаж курсами.
                                    Между
                                    первым и вторым курсами рекомендуется интервал 2-3недели, в дальнейшем, возможно,
                                    проводить
                                    повторные курсы массажа ежемесячно.

                                </p>
                                <p>Противопоказания к проведению логопедического массажа:</p>
                                <ul>
                                    <li>гнойничковые и грибковые заболевания кожи у логопеда или ребенка</li>
                                    <li>гематомы на массируемом участке тела</li>
                                    <li>активная форма туберкулеза</li>
                                    <li>болезни крови и капилляров</li>
                                    <li>тромбоз сосудов</li>
                                    <li>острая крапивница, отек Квинке в анамнезе</li>
                                    <li>онкологические заболевания</li>
                                    <li>инфекционные раны</li>
                                    <li>фурункулез</li>
                                    <li>ОРЗ</li>
                                    <li>гиперчувствительность</li>
                                    <li>эпилепсия</li>
                                </ul>
                            </div>
                        </details>
                    </li>
                </ul>
            </div>
            <div class="col-12 justify-content-center">
                <a href="/test" class="btn my-btn">Пройти тест</a>
            </div>
        </div>
    </div>


{% endblock %}