{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="news-body row">
                <div class="news-body-header col-4">
                    <img src="{{ news.img }}" class="w-100" alt="">
                    <div class="row news-body-title justify-content-center text-center"><h3>{{ news.title }}</h3></div>

                </div>
                <div class="news-body-content col-8 text-justify">
                    <div class="news-body-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores fugit maxime quam.
                        Amet dolor, ducimus illum, laboriosam nam nulla obcaecati provident reiciendis saepe sapiente
                        temporibus voluptatibus! Nesciunt, sint.
                    </div>
                    <div class="row justify-content-between">
                        <p>Автор: <strong>Иванова И.И.</strong></p>
                        <p><strong>13.02.2019</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}